@import url("https://fonts.googleapis.com/css?family=Raleway:300italic,400italic,700italic,400,300,700");
* {
	margin: 0;
	padding: 0;
	background-color: #222;
	color: #ececec;
	font-family: "Raleway", sans-serif;
	font-weight:normal;
}
.container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}
.content {
	max-width: 50%;
	text-align: center;
}
input {
	height: 20px;
	width: 20px;
	border: 0;
	border-radius: 50px;
	cursor: pointer;
	outline: none;
	margin-top: -1px;
	vertical-align: middle;
	margin-right: 2px;
}
label {
	cursor: pointer;
}
button {
	border: 1px solid #ececec;
	background-color: #ececec;
	padding: 15px 35px;
	cursor: pointer;
	color: #222;
}
button:hover{
	outline: 0;
	opacity: 0.9;
}